*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
select.centroCriar{
    display: flex;
    flex-direction: column;
}
div.registroCriar{
    display: flex;
    flex-direction: row;
}
div.esquerdaRegistro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.direitaRegistro{
    background-color: rgb(224, 130, 6);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}